header {
  height: 80px;
  background-color: #f7f7f7;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 70px;
  padding: 0.5rem 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
